
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- zui css -->
    <link href="~/Areas/Admin/Content/dist/css/zui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/dist/theme/blue.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/dist/lib/chosen/chosen.css" rel="stylesheet" />
    <!-- app css -->
    <link href="~/Areas/Admin/Content/css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="page page-error text-center">
        <header>
            <h1>404</h1>
            <p>您要的页面找不到了！</p>
        </header>
        <a class="btn btn-primary btn-round" href="index.html" style="margin-right:10px;">回到首页</a>
        <a class="btn btn-round" href="javascript:history.back();">返回上页</a>
        <footer class="page-copyright">
            <p>WEBSITE BY 莫非</p>
            <p>© 2018. All RIGHT RESERVED.</p>
        </footer>
    </div>
</body>
</html>
