
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <b>rootid:</b>@ViewContext.RouteData.Values["rootid"]<br />

        <b>id:</b>@ViewContext.RouteData.Values["id"]<br />

        <b>controller:</b>@ViewContext.RouteData.Values["controller"]<br />

        <b>action:</b>@ViewContext.RouteData.Values["action"]

    </div>
</body>
</html>
