<div class="right">
    <div class="righttitle">
        <h1>资讯中心</h1><a href="#">更多></a>
    </div>
    <ul class="newslist">
        @foreach (var news in ViewBag.newsList as IEnumerable<NewsModel>)
        {
            <li><a href="#" style="color:@news.TitleColor" target="_blank">@news.Title</a></li>
        }
    </ul>
    <div class="righttitle">
        <h1>公益项目</h1><a href="#">更多></a>
    </div>
    <ul class="projectlist clearfix">
        <li>
            <div><a href="#"><img src="images/temp/temp5.jpg" /></a></div>
            <h6><a href="#">爱心大使1</a></h6>
        </li>
        <li>
            <div><a href="#"><img src="images/temp/temp5.jpg" /></a></div>
            <h6><a href="#">爱心大使1</a></h6>
        </li>
        <li>
            <div><a href="#"><img src="images/temp/temp5.jpg" /></a></div>
            <h6><a href="#">爱心大使1</a></h6>
        </li>
        <li>
            <div><a href="#"><img src="images/temp/temp5.jpg" /></a></div>
            <h6><a href="#">爱心大使1</a></h6>
        </li>
    </ul>
</div>