<div class="right">
    <div class="righttitle">
        <h1>资讯中心</h1><a href="#">更多></a>
    </div>
    <ul class="newslist">
        @foreach (var news in ViewBag.newsList as IEnumerable<NewsModel>)
        {
            <li><a href="@news.LinkUrl.getUrl(news.NewsID)" style="color:@news.TitleColor" target="_blank">@news.Title</a></li>
        }
    </ul>
    <div class="righttitle">
        <h1>公益项目</h1><a href="#">更多></a>
    </div>
    <ul class="projectlist clearfix">
        @foreach (var item in ViewBag.project as IEnumerable<NewsClassModel>)
        {
            <li>
                <div><a href="#"><img src="@item.ItemImg" /></a></div>
                <h6><a href="#">@item.ClassName.breakString(10)</a></h6>
            </li>
        }
    </ul>
</div>