@charset "utf-8";
body{font-size:12px; color:#000; font-family:"\5FAE\8F6F\96C5\9ED1",Arial; }
@-moz-document url-prefix(){body{font-family:Arial, "\5FAE\8F6F\96C5\9ED1"}}
input{font-family:"\5FAE\8F6F\96C5\9ED1",Arial;}
*{margin: 0; padding: 0; }
ul li,li{list-style-type:none;}
ul li img,li img{vertical-align:top;}
.floatleft{float:left;}
.floatright{float:right;}
img{border:0;}

a{text-decoration:none; color:#333333;}/*连接默认的颜色变化*/
a:link{text-decoration:none; color:#333333; }/*连接默认的颜色变化*/
a:visited{text-decoration:none; color:#333333;}/*连接访问的颜色变化*/
a:hover{text-decoration:none; color:#333333; }/*鼠标经过的颜色变化*/
a:active{text-decoration:none; color:#333333; }/*鼠标按下的颜色变化*/

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal; margin:0;padding:0;}
.clear{clear:both; height:0; font-size:0; line-height:0; overflow:hidden;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; } 

/*banner*/
.banner{ height:300px; position:relative; width:100%; overflow:hidden; z-index:0; margin-bottom:15px;}
.banner_two{ width:1000px; border:10px solid #fff; border-bottom:none; margin:0px auto;}
#banner {position:relative; width:1000px; height:300px;overflow:hidden;}
#banner_list{text-align:left}
#banner_list img {border:0px;}
#banner div.banner_num{position:absolute; z-index:1; right:3%; bottom:21px;  height:14px; width:80px;  margin-left:-40px; border-radius:10px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#banner div.banner_num{ right:3%;bottom:28px;} }
@-moz-document url-prefix(){#banner div.banner_num{left:50%;bottom:28px;}}
#banner div.banner_num ul{margin-top:2px; position:relative;}
#banner div.banner_num li{display:inline-block;background:#fff;cursor:pointer;width:10px; height:10px; border-radius:5px; margin-left:2px; margin-right:2px; float:left; text-indent:-999999px; font:0; line-height:0;}
@media screen and (-webkit-min-device-pixel-ratio:0){#banner div.banner_num li{ margin-left:5px; margin-right:5px;}}
@-moz-document url-prefix(){#banner div.banner_num li{ margin-left:5px; margin-right:5px;}}
#banner div.banner_num li.on { background:#439280;}
#banner_list a{position:absolute;}
/*banner*/

div.top{width:1000px; height:122px; margin:0px auto;}
div.top div.logo{float:left; margin-top:37px;}
div.top div.floatright{width:220px;}
div.top div.floatright a{display:block; float:left; margin-left:60px; margin-top:57px; color:#575757; position:relative;}
div.top div.floatright a i{display:block; position:absolute;}
div.top div.floatright a.wx i{width:19px; height:16px; background:url(../images/icons.png) left top no-repeat; left:-21px; top:3px;}
div.top div.floatright a.wb i{width:20px; height:15px; background:url(../images/icons.png) -19px top no-repeat; left:-22px; top:2px;}
div.menu{width:1000px; margin:0px auto; height:40px; background:url(../images/menubg.png) top repeat-x; border-bottom:1px solid #ebe7e8;}
div.menu a{display:block; float:left; width:111px; height:40px; text-align:center; color:#fff; line-height:40px; font-size:14px;}
div.menu a.current{background:url(../images/menubg.png) left -40px repeat-x;}
div.line{width:1000px; margin:0px auto; height:2px; background:#31476f; border-bottom:1px solid #ecebe9; font-size:0; line-height:0;}
div.indexblock{width:1000px; margin:0px auto; border-bottom:1px solid #e5e5e6;}
div.blockleft{width:474px; float:left; border-right:1px solid #e5e5e6; padding-right:25px;}
div.blockright{width:475px; float:left; padding-left:25px;}
div.subtitle{width:474px; height:54px; line-height:54px;}
div.subtitle h1{font-size:16px; color:#55a795; font-weight:bold; float:left;}
div.subtitle a.floatright{float:right; color:#c2c0c0;}
div.indexblock dl.imgnews{padding-bottom:16px; border-bottom:1px solid #e5e5e6; margin-bottom:6px;}
div.indexblock dl.imgnews dt{float:left; width:139px; height:75px;}
div.indexblock dl.imgnews dt img{width:139px; height:75px;}
div.indexblock dl.imgnews dd{float:left; margin-left:21px; width:306px;}
div.indexblock dl.imgnews dd h2 a{font-size:14px; color:#23394b;}
div.indexblock dl.imgnews dd div{color:#696969; line-height:18px; margin-top:9px;}
ul.subnews li{height:26px; line-height:26px; position:relative;}
ul.subnews li a{color:#23394b; margin-left:12px;}
ul.subnews li span{float:right; color:#c2c0c0;}
ul.subnews li i{display:block; position:absolute; left:0; width:4px; height:4px; font-size:0; line-height:0; background:#d8d8d8; top:12px;}
div.smallbanner{width:1000px; margin:12px auto; overflow:hidden;}
div.subtitle h1 i{ margin:0px 20px; font-style:normal; font-weight:normal; color:#c1c1c1; font-family:'宋体'; font-size:13px;}
div.subtitle h1 a.current{color:#55a795;}
div.tabbody{width:474px; height:224px; overflow:hidden; }
div.tabbody div.carousel{position:relative; visibility: hidden;left: -5000px; height:224px;}
div.tabbody div.carousel ul li{height:224px; width:152px; margin-right:8px;}
div.tabbody div.carousel ul li h6{height:45px; line-height:45px; text-align:center;}
div.lovebody{padding-bottom:6px;}
div.lovebody img{width:152px; height:179px;}
div.blockright ul.projectlist li{width:141px; height:116px; float:left; margin-right:24px;}
div.blockright ul.projectlist li img{width:141px; height:86px;}
div.blockright ul.projectlist li h6{height:30px; line-height:30px; text-align:center;}
div.link{width:1000px; margin:0px auto; background:url(../images/linkbg.gif) left top repeat-x; height:40px; line-height:40px;}
.block1{padding-bottom:12px;}
div.link div.floatleft{margin-left:17px;}
div.link div.floatleft a{display:block; width:94px; height:40px; text-align:center; font-size:14px; font-weight:bold; color:#6a7075; float:left;}
div.link div.floatleft a.current{color:#55a795; background:url(../images/linkbg.gif) left -40px repeat-x;}
div.link div.floatright{margin-right:9px;}
div.link div.floatright a{color:#a4a3a3;}
div.linkbody ul{width:1000px; overflow:hidden; margin:24px auto;}
div.linkbody ul li{width:174px; height:40px; margin-right:32px; float:left;}
div.foot{width:1000px; margin:0px auto; border-top:2px solid #657592; padding-bottom:32px;}
div.sitemap{float:left;}
div.sitemap ul{width:88px; float:left;}
div.sitemap ul li h1{color:#55a795; font-size:12px; font-weight:bold; margin-top:13px; margin-bottom:18px;}
div.sitemap ul li h1 a{color:#55a795;}
div.sitemap ul li a{color:#4f5960; line-height:21px;}
div.erm{float:right; margin-top:13px;}
div.copyright{width:1000px; margin:0px auto; border-top:1px solid #d4d4d4; padding-top:12px; padding-bottom:30px; line-height:24px; text-align:center;}
div.innerbanner{width:100%; height:130px; background:#f6f6f6;}
div.innerbanner div{width:1000px; margin:8px auto;}
div.nav{height:41px; line-height:41px; border-bottom:2px solid #ededee; width:1000px; margin:0px auto; margin-top:9px; }
div.nav h1{font-size:14px; font-weight:bold; color:#55a795; float:left;}
div.nav ul{float:right;}
div.nav ul li{float:left; width:96px; text-align:center; border-right:1px dotted #a3a4a4; height:14px; line-height:14px; margin-top:15px; position:relative;}
div.nav ul li.current a{border-bottom:2px solid #4da390; display:block; padding-bottom:12px; color:#55a795; font-size:14px; font-weight:bold;}
div.pagebody{width:1000px; margin:0px auto; }
div.pagebody div.left{width:645px; padding-right:35px; background:url(../images/blockbg.jpg) right repeat-y;padding-top:21px; float:left; min-height:538px;}
div.intro h6{color:#23394b; font-weight:bold; font-size:14px;}
div.intro div{font-size:12px; margin-top:16px; margin-bottom:32px; line-height:23px;}
div.right{width:286px; float:left; margin-left:34px;}
div.righttitle{height:42px; border-bottom:1px solid #cbcbcb; margin-top:6px;}
div.righttitle h1{font-size:14px; font-weight:bold; color:#55a795; float:left; line-height:42px;}
div.righttitle a{float:right; line-height:42px; color:#c2c0c0;}
div.right ul.newslist li{height:26px; line-height:26px;}
div.right ul.newslist{margin-bottom:36px;}
div.right ul.projectlist{margin-top:22px;}
div.right ul.projectlist li{width:141px; float:left; margin-right:4px;}
div.right ul.projectlist li h6{height:30px; line-height:30px; text-align:center;}
div.right ul.projectlist li img{width:141px; height:86px;}
div.left dl.imgnews{border-bottom:1px solid #e7e7e8; padding-bottom:17px;}
div.left dl.imgnews dt{float:left; width:139px; height:75px; margin-right:21px;}
div.left dl.imgnews dt img{width:139px; height:75px;}
div.left dl.imgnews dd{float:left; width:485px;}
div.left dl.imgnews dd h2{font-size:14px; font-weight:bold;}
div.left dl.imgnews dd div{margin-top:11px; color:#696969;}
div.left ul.newslist li{height:45px; line-height:45px; border-bottom:1px dotted #e6e7e8; position:relative; padding-left:12px;}
div.left ul.newslist li span{float:right; color:#c2c0c0;}
div.left ul.newslist li i{display:block; position:absolute; left:0; width:4px; height:4px; font-size:0; line-height:0; background:#d8d8d8; top:21px;}

/*分页*/
.page{width:100%; margin:24px auto; clear:both;}
.page a,.page font{display:inline-block; border:1px solid #cccccc; padding:2px 8px; line-height:18px; text-align:center;  margin:0px 3px; font-size:12px; color:#333333; font-family:Arial; background:#cccccc;}
.page a:hover{background:#b00000; color:#FFF; border-color:#b00000;}
.page font{color: #fff;background:#5dac9b;display:inline-block; border:0;padding:3px 9px;}
.page span{display:inline-block; color:#393939; background: #e9e9e9; }
.page .jzqb{display:inline-block; color:#393939; background:#e9e9e9; padding:3px 9px 3px 9px; font-size:12px; border:0;}
ul.project{width:1000px; margin:0px auto; margin-top:20px;}
ul.project li{float:left; width:316px; margin-right:26px; margin-bottom:27px;}
ul.project li dl dt img{width:316px; height:193px;}
ul.project li dl dd{background:#f3f3f3; padding-left:23px; padding-right:23px; width:270px; overflow:hidden;}
ul.project li dl dd h1{font-size:12px; font-weight:bold; color:#23394b; line-height:44px;}
ul.project li dl dd h1 a{color:#23394b;}
ul.project li dl dd p{line-height:24px;}
ul.project li dl dd div a{display:block; width:76px; height:25px; border-radius:24px; -webkit-border-radius:24px; -moz-border-radius:24px;behavior: url(ie-css3.htc); border:1px solid #3a9480; color:#3a9480; line-height:25px; text-align:center; margin-top:21px; margin-bottom:17px;}
ul.subnav{margin-bottom:24px;}
ul.subnav li{width:86px; height:25px; line-height:25px; text-align:center; font-size:12px; font-weight:bold; background:#eeeeef; color:#23394b; float:left; margin-right:1px;}
ul.subnav li.current{background:#55a795; color:#fff;}
ul.subnav li.current a{color:#fff;}
div.content{line-height:24px; margin-bottom:24px;}
div.content p{margin-bottom:12px; text-indent:2em;}
ul.piclist li{width:201px; float:left; margin-right:21px; position:relative;}
ul.piclist li div img{width:201px; height:108px;}
ul.piclist li h1{line-height:32px; margin-bottom:14px;}
.margintop{margin-top:24px;}
ul.ad-thumb-list li img{width:175px;}
ul.piclist li i{width:54px; height:54px; display:block; position:absolute; left:74px; top:27px; background:url(../images/play.png) no-repeat;}
ul.ambassador{width:1000px; margin:0px auto; margin-top:20px; margin-bottom:30px;}
ul.ambassador li{width:182px; float:left; margin-right:22px; margin-bottom:25px;}
ul.ambassador li h1{height:40px; line-height:40px;}
ul.ambassador li img{width:182px; height:225px;}
h1.ambassadorname{height:50px; line-height:50px; font-size:21px; font-weight:bold; text-align:center; margin-bottom:24px;}
/*招贤纳士*/
.join_head{line-height:20px; margin-left:5px; margin-bottom:20px;}
.join_head div{color:#55a795;}
table.joinlist th{border-right:1px solid #FFF; font-size:14px;}
table.joinlist td{background:url(../images/dot7.gif) bottom repeat-x;}
table.joinlist td a{color:#55a795;}
.join_title{width:100%; height:54px; border-bottom:1px solid #e3e3e3;}
.join_title div{float:left;}
.join_title div h3{font-size:16px;color:#c19f57; margin-top:9px; line-height:28px;}
.join_title a{display:block; float:right; height:26px; line-height:26px; color:#FFF; background:#c19f58; padding-left:18px; padding-right:18px; margin-top:22px;}
.join_intro{margin-top:12px; line-height:21px; padding-left:6px;}
h1.newstitle{font-size:21px; font-weight:bold; height:50px; line-height:50px; text-align:center;}
div.newsatt{border-bottom:1px solid #ccc; text-align:center; padding-bottom:12px;}
div.newsatt span{margin-right:16px;}
div.newscontent{line-height:24px; margin-bottom:24px; width:645px; margin-top:8px;}
div.newscontent p{text-indent:2em;}