
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Areas/Admin/Content/dist/js/zui.js"></script>
    <link href="~/Areas/Admin/Content/dist/css/zui.css" rel="stylesheet" />
    <title>Test</title>
    <script type="text/javascript">
        $(function () {
            $(".add").click(function () {
                $.zui.modalTrigger.show({
                    iframe: "@Url.Action("Create")",
                    width: $(window).width() * 0.6,
                    height: 580,
                    title:"添加分类",
                    hidden: function () {
                        ShowMsg("添加分类成功");
                        window.location.reload();
                    }
                });
            })
        })
    </script>
</head>
<body>
    <div>
        <button class="add">btn</button>
    </div>
</body>
</html>
